@{
    ViewData["Title"] = "Home Page";

    var categorias = (ViewData["categorias"] as List<CategoriaProdutoViewModel>);
    var produtos = (ViewData["produtos"] as List<ProdutoViewModel>);
}

<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Ordenar por</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">Name</option>
                                    <option value="3">Price</option>
                                    <option value="4">Date</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg">
                            @foreach (var produto in produtos)
                            {
                                var urlImagemPrincipal = produto.ImagemPrincipal;
                                <li>
                                    <figure>
                                        <a class="aa-product-img" href="#"><img src="/produtos/@urlImagemPrincipal" width="250" height="300"></a>
                                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Incluir no Carriho</a>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#">@produto.Nome</a></h4>
                                            <span class="aa-product-price">R$ @produto.Preco.ToString("C")</span>
                                            <p class="aa-product-descrip">@produto.Descricao</p>
                                        </figcaption>
                                    </figure>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Categoria</h3>
                        <ul class="aa-catg-nav">
                            @foreach (var categoria in categorias)
                            {
                                <li><a asp-action="Categoria" asp-controller="Home" asp-route-slug="@categoria.Slug">@categoria.Nome</a></li>
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>